[Desktop Entry]
Name=nextShows Data Engine
Name[fr]=Moteur de données de nextShows
Comment=Shows and episode lists from tvrage.com
Comment[fr]=Séries et listes d'épisodes issues de tvrage.com
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_nextshows
X-Plasma-EngineName=nextshows
