<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="nextShows" version="1">
<MenuBar>
    <Menu name="file"><text>&amp;File</text>
        <Separator />
        <Action name="file_quit" />
    </Menu>
</MenuBar>
</gui>
