[Desktop Entry]
Name=nextShows Data Engine
Name[bg]=
Name[ca]=
Name[da]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[et]=
Name[fi]=
Name[fr]=
Name[fy]=
Name[ga]=
Name[gl]=
Name[gu]=
Name[hu]=
Name[is]=
Name[it]=
Name[ja]=
Name[km]=
Name[ko]=
Name[lv]=
Name[nb]=
Name[nds]=
Name[ne]=
Name[nl]=
Name[nn]=
Name[pa]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ro]=
Name[ru]=
Name[se]=
Name[sl]=
Name[sr]=
Name[sr@latin]=
Name[sv]=
Name[th]=
Name[tr]=
Name[uk]=
Name[wa]=
Name[x-test]=
Name[zh_CN]=
Name[zh_TW]=
Comment=TvRage.com engine
Comment[bg]=
Comment[ca]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[eo]=
Comment[es]=
Comment[et]=
Comment[fi]=
Comment[fr]=
Comment[fy]=
Comment[ga]=
Comment[gl]=
Comment[gu]=
Comment[hu]=
Comment[is]=
Comment[it]=
Comment[ja]=
Comment[km]=
Comment[ko]=
Comment[lv]=
Comment[nb]=
Comment[nds]=
Comment[ne]=
Comment[nl]=
Comment[nn]=
Comment[pa]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ro]=
Comment[ru]=
Comment[se]=
Comment[sl]=
Comment[sr]=
Comment[sr@latin]=
Comment[sv]=
Comment[th]=
Comment[tr]=
Comment[uk]=
Comment[x-test]=
Comment[zh_CN]=
Comment[zh_TW]=
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_nextshows
X-Plasma-EngineName=nextshows
