[Desktop Entry]
Name=Layout Test Applet
Comment=A test applet meant for testing QGV/Plasma layouting
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_layouttestapplet
X-KDE-PluginInfo-Author=Gilles CHAUVIN
X-KDE-PluginInfo-Email=gcnweb+kde@gmail.com
X-KDE-PluginInfo-Name=layouttestapplet
X-KDE-PluginInfo-Version=0.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=
